#!/usr/bin/env bash

watch_dir nix
watch_file shell.nix

# when not using nix-direnv, nix will clobber TMPDIR with a temporary directory
# that it then deletes, thereby setting TMPDIR to an invalid path; preserve the
# environment value to avoid problems
old_tmpdir=${TMPDIR:-}
use nix
if [ -z "$old_tmpdir" ]; then
  export TMPDIR=old_tmpdir
fi
